@model DemoMVC.Models.Validationcls
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using(Html.BeginForm("Getback","Validation"))
{
<table>
    <tr>
        <td>Firstname</td>
        <td>@Html.TextBoxFor(a => a.FirstName)</td>
        <td>@Html.ValidationMessageFor(a => a.FirstName, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td>Lastname</td>
        <td>@Html.TextBoxFor(a => a.LastName)</td>
        <td>@Html.ValidationMessageFor(a => a.LastName, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>@Html.TextBoxFor(a => a.Salary)</td>
        <td>@Html.ValidationMessageFor(a => a.Salary, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td>Pancard</td>
        <td>@Html.TextBoxFor(a => a.Pancard)</td>
        <td>@Html.ValidationMessageFor(a => a.Pancard, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>@Html.PasswordFor(a => a.Password)</td>
        <td>@Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td>ConfirmPassword</td>
        <td>@Html.PasswordFor(a => a.Confirmpassword)</td>
        <td>@Html.ValidationMessageFor(a => a.Confirmpassword, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>@Html.TextBoxFor(a => a.Phone)</td>
        <td>@Html.ValidationMessageFor(a => a.Phone, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Html.TextBoxFor(a => a.Email1)</td>
        <td>@Html.ValidationMessageFor(a => a.Email1, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td>Doj</td>
        <td>@Html.TextBoxFor(a => a.Doj1)</td>
        <td>@Html.ValidationMessageFor(a => a.Doj1, "", new { @class = "text-danger" })</td>
    </tr>
    <tr>
        <td><input type="submit" /></td>
    </tr>
</table>
}
