
@{
    ViewBag.Title = "AutoClick";
}

<h2>AutoClick</h2>
@using (Html.BeginForm("AutoCick1", "Database"))
{
    <h3>
        Enter the Deptno @Html.TextBox("txtDeptno", Request["txtDeptno"])
        <input type="submit" value="GetData" />
        @if (ViewBag.L != null)
        {
            <table>
                <tr>
                    <td>Empno</td>
                    <td>Ename</td>
                    <td>Job</td>
                    <td>Manager</td>
                    <td>Hiredate</td>
                    <td>Salary</td>
                    <td>Commission</td>
                    <td>Deptno</td>
                </tr>
                @foreach (var E in ViewBag.L)
                {
                    <tr>
                        <td>@E.EMPNO</td>
                        <td>@E.ENAME</td>
                        <td>@E.JOB</td>
                        <td>@E.MGR</td>
                        <td>@E.HIREDATE</td>
                        <td>@E.SAL</td>
                        <td>@E.COMM</td>
                        <td>@E.DEPTNO</td>
                    </tr>
                }
            </table>
        }
    </h3>
}
