@model IEnumerable<DemoMVC.Models.EMPDATA>
@{
    ViewBag.Title = "getDepts";
}

<h2>getDepts</h2>
@using (Html.BeginForm())
{
    <br/>
    <table>
        <tr>
            <td>
                Enter Department
            </td>
            <td>
                @Html.DropDownList("ddlDeptno",new SelectList(ViewBag.L, "Deptno", "Dname",ViewBag.x), "select", new { onblur="func1();"})
            </td>
        </tr>
    </table>
    if(Model!=null)
    {
<table>
    <tr>
        <td>Empno</td>
        <td>Ename</td>
        <td>Job</td>
        <td>Manager</td>
        <td>Hiredate</td>
        <td>Salary</td>
        <td>Commission</td>
        <td>Deptno</td>
    </tr>
    @foreach (var E in Model)
    {
        <tr>
            <td>@E.EMPNO</td>
            <td>@E.ENAME</td>
            <td>@E.JOB</td>
            <td>@E.MGR</td>
            <td>@E.HIREDATE</td>
            <td>@E.SAL</td>
            <td>@E.COMM</td>
            <td>@E.DEPTNO</td>
        </tr>

     }
    </table>
    }



    }
    <script>
        function func1()
        {
            var dno = document.getElementById("ddlDeptno").value;
            window.location.href = "/Database/SendDept?d=" + dno;
        }

    </script>
